@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-800 text-emerald-300;
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-xl;
  }

  li {
    @apply py-3 pr-4 hover:underline decoration-emerald-300 decoration-2 hover:font-bold hover:text-emerald-300;
  }
}

@layer components {
  .btn-primary {
    @apply text-emerald-300
            bg-transparent
            border
            border-solid
            border-emerald-300
            hover:bg-emerald-300
            hover:text-white
            active:bg-emerald-400
            font-bold
            uppercase
            text-sm
            px-6
            py-3
            rounded
            outline-none
            focus:outline-none
            mr-1
            mb-1
            ease-linear;
  }

  .delete {
    @apply hover:text-rose-400 hover:underline decoration-rose-400 decoration-2;
  }
}
